asgiref==3.8.1
binaryornot==0.4.4
constantly==15.1.0
dj-database-url==2.1.0
Django==4.2.1
django-cors-headers==4.3.1
gunicorn==22.0.0
hpack==4.0.0
ipython-genutils==0.2.0
llvmlite==0.42.0
multipledispatch==0.6.0
munkres==1.1.4
mysqlclient==2.2.4
pdfminer.six==20231228
pdfplumber==0.11.0
protobuf==4.25.3
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyarrow==16.0.0
PyDispatcher==2.0.5
pypdfium2==4.30.0
PyQt5==5.15.9
PyQt5-sip==12.12.2
PyQtWebEngine==5.15.4
sqlparse==0.5.0